#add-wrapp {
    width: 80%;
    display: flex;
    flex-wrap:nowrap; 
    
    background: #f4f4f4;
    margin: 40px auto;
    border-radius: 8px;
}

#add-image-container {
    width: 50%;
    line-height: 0; /* Uklanja onaj mali razmak ispod slike */
}

#add-image-container img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ako je slika drugačijih proporcija, popuniće prostor */
}

#add-text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
