
@import url("css/first_div.css");
@import url("css/register.css");
@import url("css/login.css");


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.show{
    display: flex;
}

.hide{
    display: none;
}

.w-50{
    width: 30%!important;
}

.w-80{
    width: 30%!important;
}

 

#new-arrivals{
    flex-wrap: wrap;
}


.new-arr-card-img img{
    width: 50%;
}

#add-wrapp {
    width: 80%;
    display: flex;
    flex-wrap: wrap; 
    
    background: #f4f4f4;
    margin: 40px auto;
    border-radius: 8px;
}

#add-image-container {
    width: 50%;
    line-height: 0; /* Uklanja onaj mali razmak ispod slike */
}

#add-image-container img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ako je slika drugačijih proporcija, popuniće prostor */
}

#add-text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



#footer {
    background-color: black;
    display: flex; 
}

#links-wrap nav ul{
    display: flex;
    width: 40%;
    flex-direction: column;
}

#socials-wrap{
    width: 30%;
}

 