*{
    margin: 0px;
    padding: 0px;
}

.show{
    display: flex;
}

.hide{
    display: none;
}

.w-50{
    width: 30%!important;
}

.w-80{
    width: 30%!important;
}

#first-div{
    height: 70vh;
    width: 100%;

    background-image: url('../assets/img/laptop_closed.jpg');
    background-position: center;
    background-color: black;
}

#logo-div{
    width: 30%;
        justify-content: center;
    display: flex;
}

#logo-div img{
    width: 10%;
}


#home-page-headline{
    width: 60%;
    margin: 0px auto;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#home-page-headline button{
    width: 30%;
}

#new-arrivals{
    flex-wrap: wrap;
}

.new-arr-card-img{
    width: 100%;
}

.new-arr-card-img img{
    width: 100%;
}