
@import url("css/first_div.css");
@import url("css/register.css");
@import url("css/login.css");
@import url("css/new_arrivals.css");
@import url("css/add_div.css");
@import url("css/product_card_info.css");

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.show{
    display: flex;
}

.hide{
    display: none;
}

.w-50{
    width: 30%!important;
}

.w-80{
    width: 30%!important;
}

#footer {
    background-color: black;
    display: flex; 
}

#links-wrap nav ul{
    display: flex;
    width: 40%;
    flex-direction: column;
}

#socials-wrap{
    width: 30%;
}

 